@font-face {
  font-family: 'Preeti';
  src: url('../fonts/Preeti.eot?#iefix') format('embedded-opentype'),  url('../fonts/Preeti.woff') format('woff'), url('../fonts/Preeti.ttf')  format('truetype'), url('../fonts/Preeti.svg#Preeti') format('svg');
  font-weight: normal;
  font-style: normal;
}
